* {
  margin:0;
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

.previewObjectWrapper {
  padding: 50px 20px;
}

.previewObject {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-4deg);
  background:rgb(255, 143, 14);
  height: 40vh;
  border-radius: 10px;
  width: 100%;
}

.sliderContent {
  padding: 30px 10px;
}

.sliderWrapper {
  margin: 20px 0;
}

.mainWrapper {
  width: 90%;
  margin:auto;
}

.menuItem {
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  
  .mainWrapper {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .sliderContent{
    background:white;
    width: 100%;
    margin: 20px;
  }

  .previewObjectWrapper {
    width: 100%;
    margin: 20px;
  }
}